/* line 3, ../sass/styles.scss */
body {
  font-family: Arial;
}

/* line 7, ../sass/styles.scss */
.form {
  width: 100%;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* line 16, ../sass/styles.scss */
.input {
  display: flex;
  flex-direction: column-reverse;
}

/* line 21, ../sass/styles.scss */
.lista {
  width: 100%;
  position: absolute;
}
/* line 24, ../sass/styles.scss */
.lista table {
  width: 100%;
}
/* line 26, ../sass/styles.scss */
.lista table tr {
  cursor: pointer;
}

/* line 32, ../sass/styles.scss */
ac-usuarios-administracion {
  display: flex;
  flex-direction: row;
  position: relative;
  overflow-x: hidden;
  max-width: 100%;
}

/* line 41, ../sass/styles.scss */
.details {
  background-color: green;
  width: 50%;
  -webkit-transform: translate(200%, 0);
  -moz-transform: translate(200%, 0);
  -ms-transform: translate(200%, 0);
  -o-transform: translate(200%, 0);
  transform: translate(200%, 0);
  -webkit-transition: transform 0.4s ease-in-out;
  -moz-transition: transform 0.4s ease-in-out;
  -ms-transition: transform 0.4s ease-in-out;
  -o-transition: transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out;
}

/* line 57, ../sass/styles.scss */
.details-open {
  -webkit-transform: translate(100%, 0) !important;
  -moz-transform: translate(100%, 0) !important;
  -ms-transform: translate(100%, 0) !important;
  -o-transform: translate(100%, 0) !important;
  transform: translate(100%, 0) !important;
}
